[submodule "src/kamino/speedy_climate/HELIOS"]
	path = src/kamino/speedy_climate/HELIOS
	url = https://github.com/exoclime/HELIOS.git
[submodule "src/kamino/ocean_chemistry/chili"]
	path = src/kamino/ocean_chemistry/chili
	url = https://github.com/astro-pavan/chili.git
